<div class="container">
    <form class="form-signin" name="LoginForm" method="post">
        <div class="row">
            <div class="col-md-8 col-md-offset-3">
                <h2 class="form-signin-heading">Sign In</h2>
                <input type="text" class="input-block-level " placeholder="Email Address"
                       data-bind="textInput: username">
                <input type="password" class="input-block-level" placeholder="Password"
                       data-bind="textInput: password">
                <button class="btn btn-large btn-primary" data-bind="click: login">Sign in</button>
            </div>
        </div>
    </form>
</div>