<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>simplihome</title>
    <link href="{{ STATIC_URL }}js/dist/css.css" rel="stylesheet">

    {% if debug %}
      <script src="{{ STATIC_URL }}js/src/app/require.config.js"></script>
      <script data-main="{{ STATIC_URL }}js/src/app/startup.js" src="{{ STATIC_URL }}js/src/bower_modules/requirejs/require.js"></script>
    {% else %}
      <script src="{{ STATIC_URL }}js/dist/scripts.js"></script>
    {% endif %}
  </head>
  <body>
    <nav-bar params="route: route"></nav-bar>
    <div id="page" class="container" data-bind="component: { name: route().page, params: route }"></div>
  </body>
</html>
